#header1{
background-color:rgb(247,178,70);

height:120px;

margin:3px 2px 0px 2px;
}
h2{
color:white;
font-size:20px;
font-family:ARIAL BLACK;
text-align:center;
display:block;
margin:3px auto;
}

body{
font-size:35px;
font-family:helvetica,arial black;
margin-top:0px;
}

#nav{
font-style:tohama;
padding-left:50px;;
background-color:rgb(250,249,234);
height:30px;
font-size:18px;
margin:2px;
}
#nav ul{
padding:0;
margin:0;
list-style-type:none;
text-align:center;
display:inline;
}
#nav li{
display:inline;
padding:50px;
vertical-align:middle;
}
#nav a{
text-decoration:none;
padding:3px 8px 8px 8px;
color:black;
margin-top:5px;
vertical-align:middle;

}
#nav a:hover{
background-color:black;
color:rgb(249,250,217);
}
h1{
color:black;
font-size:50px;
font-family:ARIAL BLACK;
text-align:center;
}
.image{
float:center;
display:block;
margin:1px auto;

}
p{
color:white;
font-size:55px;
font-family:ARIAL BLACK;
margin:3px;
}
.para1{
color:red;
font-size:50px;
font-family:tohama;
text-align:center;

}
.para{
color:red;
font-size:20px;
font-family:tohama;
text-align:center;
display:block;

}
#nav1 ul{
padding:0;
margin:0;
list-style-type:none;
text-align:center;
display:inline;
font-size:25px;
font-family:tohama;

}
#header6{
background-color:rgb(109,84,115);
height:60px;
margin:2px 2px 2px 2px;
}
p.para5{
font-size:10px;
text-align:center;
padding-top:10px;

}
#header{
background-color:rgb(250,249,234);

margin:3px 2px 0px 2px;
text-align:center;

}



